@import "../base/global";

//Dashboard
.job-list {
  width: 90%;
  margin: 4em auto;
}

.job-container {
  background-color: white;
  box-shadow: 0px 17px 7px -10px hsla(180, 29%, 50%, 0.5);
  margin-bottom: 2em;
  border-radius: 5px;
  padding: 2.5em 1em 1em;
  position: relative;
  border-left: 4px solid $desaturated-dark-cyan;

  .company-image {
    position: absolute;
    height: 45px;
    width: 45px;
    top: -20px;
    left: 20px;
  }
  .card-header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    //selects all children elements
    & > * {
      margin-right: 1em;
    }
  }

  .company-name {
    color: $desaturated-dark-cyan;
  }

  .new {
    background-color: $desaturated-dark-cyan;
    color: #fff;
  }

  .featured {
    background-color: #000;
    color: #fff;
  }

  span {
    border-radius: 15px;
    font-size: 0.8em;
    padding: 0.5em 0.5em 0.25em;

    //helps the new and featured tags to not display for all job listings
    &:empty {
      padding: 0;
    }
  }

  .job-position {
    font-weight: 700;
    margin-bottom: 1em;

    &:hover {
      color: $desaturated-dark-cyan;
      cursor: pointer;
    }
  }

  .job-info {
    display: flex;
    margin-bottom: 1.5em;
    color: $dark-grayish-cyan;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    & > :nth-child(1) {
      list-style-type: none;
    }

    li {
      font-size: 0.875em;
      margin-right: 1.75em;
    }
  }

  .extra {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;

    p {
      background-color: $light-grayish-cyan;
      font-size: 0.875em;
      margin-right: 1em;
      padding: 0.5em 0.5em 0.25em;
      border-radius: 5px;
      color: $desaturated-dark-cyan;
      font-weight: 700;
      row-gap: 1em;
      margin-bottom: 1em;

      &:hover {
        background-color: $desaturated-dark-cyan;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    background-image: url("../images/bg-header-desktop.svg");
    // background-position: center;
    background-size: cover;
  }
  .job-list {
    width: 80%;
  }

  .job-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .job-info {
      border: none;
      margin: 0;
      padding: 0;
    }

    .company-image {
      position: relative;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
      margin: 0 1.5em;
    }

    .left {
      display: flex;
      margin-right: 1em;
    }

    .extra {
      margin: 0;
    }
  }

  .search-bar {
    width: 80%;
  }
}
