
.header {
    background-color: aqua;
    height: 175px;
    background-color: $desaturated-dark-cyan;
    // background-image: url("./../images/bg-header-mobile.svg"); 
    background-size: cover;
    background-repeat: no-repeat;
}
